<?xml version=“1.0” encoding=“UTF-8”?>
<odoo>
    <menuitem
        id=“menu_serial_printer_root”
        name=“Catálogo”
        sequence=“10”/>

    <menuitem
        id=“menu_serial_printer_brand”
        name=“Marcas externas”
        parent=“menu_serial_printer_root”
        action=“action_serial_printer_brand”
        sequence=“1”/>

    <menuitem
        id=“menu_serial_printer_product”
        name=“Productos”
        parent=“menu_serial_printer_root”
        action=“action_serial_printer_product”
        sequence=“2”/>
</odoo>